.tun{
    background-color:#333;
    color: #fff;
}

.header{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 11px;
}

.card-title{
    color: black;
}

.navSearch{
    font-family: Rubik;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    width: 670px;
    height: 48px;
    background-color: #E3E6EB;
    border-radius: 30px;
    padding-left: 58px;
    color: rgba(0, 0, 0, 0.24);;
}

.none{
    display:none;
}

.NavImg{
    position: absolute;
    margin-left: 290px;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar{
    margin-left: 44px;
    display: flex;
    align-items: center;
    gap: 19px;
}

.quyosh{
    color: yellow;
}

.oy{
    color: #eee;
}

.inner{
    width: 100%;
    height: 56px;
    display: flex;
    padding: 0 11px;
    margin-top: 11px;
    padding-right: 133px; 
    justify-content: end;
    align-items: center;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
}

.innerText{
    margin-right: 567px;
    margin-top: 10px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.btnskiop{
    background-color: #A6B0C3;
    border: 1px solid #A6B0C3;
    border-radius: 4px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 50px;
}

.NavImgSearch{
    position: absolute;
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
}

svg{
    cursor: pointer;
}

.main{
    display: flex;
    background-color:#F8FAFD;
}

.main_left{
    width: 300px;
    margin-top: 2px;
    padding: 25px;
    height: 600px;
    background-color: #fff;
}

.main_h1{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
}

.main_p{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.mainList{
    padding: 0;
}

.align-items-start{
    border: none;
    background-color:  #F8FAFD;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.nom{
    font-family: Rubik;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
     
}

.ism{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
}

.main_rigth{
    width: 600px;
    
}

.rigth_list{
    padding: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 33px;
    width: 1000px;
    flex-wrap: wrap;
}

.rigth_item{
    width: 282px;
    height: 431px;
    padding: 15px;
}

.imgOtasi{
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 15px;
    background-color: #F8FAFD;
}

.CardImg{
     margin-top: 18px;
     margin-right: 28px;
     margin-bottom: 18px;
     margin-left: 20px;
}

.card-title{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2px;
}

.card-text{
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #757881;
    margin-bottom: -10px;
}

.link1{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 6px;
    margin-bottom: 10px;
}

.link2{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: #0D75FF;
}

.link3{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px;
}